<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag "index.css" %>
		<title>Assignment04_김진홍 2016-16126</title>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<p>Assignment 04</p>
				<p>김진홍 2016-16126</p>
			</div>
		</div>

		<div class="jumbotron">
			<div class="container">
				<h1> 넬(NELL) 정규 음반 소개 </h1>
				<p>앨범을 클릭하면 <span class="coral">수록곡</span>이 표시됩니다.</p>
			</div>
		</div>

		<div class="main">
			<div class="container">
				<h2> 넬(NELL) 정규 음반 (오래된 순) <h2>
				<div class="box">
					<a href="album/indie1">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/002/2557.jpg?type=r360Fll&v=20201227005512">
					</a>
					<a href="album/indie1">Reflection Of</a>			
				</div>				
				<div class="box">
					<a href="album/indie2">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/002/2724.jpg?type=r360Fll&v=20201220233508">
					</a>
					<a href="album/indie2">Speechless</a>					
				</div>
				<div class="box">
					<a href="album/album1">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/003/3015.jpg?type=r360Fll&v=20201221101016">
					</a>
					<a href="album/album1">Let It Rain</a>
				</div>
				<div class="box">
					<a href="album/album2">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/029/29282.jpg?type=r360Fll&v=20210302090519">
					</a>
					<a href="album/album2">Walk Through Me</a>
				</div>
				<div class="box">
					<a href="album/album3_1">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/041/41441.jpg?type=r360Fll&v=20201221205515">
					</a>
					<a href="album/album3_1">Healing Process</a>
				</div>			
				<div class="box">
					<a href="album/album4">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/137/137579.jpg?type=r360Fll&v=20210311183220">
					</a>
					<a href="album/album4">Seperation Anxiety</a>	
				</div>
				<div class="box">
					<a href="album/album5">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/317/317714.jpg?type=r360Fll&v=20210303175559">
					</a>
					<a href="album/album5">Slip Away</a>
				</div>
				<div class="box">
					<a href="album/album6_1">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/418/418403.jpg?type=r360Fll&v=20210303011518">
					</a>
					<a href="album/album6_1">Newton's Apple</a>
				</div>
				<div class="box">
					<a href="album/album7">
						<img src="https://musicmeta-phinf.pstatic.net/album/000/657/657560.jpg?type=r360Fll&v=20210303072515">
					</a>
					<a href="album/album7">C</a>
				</div>

				<div class="box">
					<a href="album/album8">
						<img src="https://musicmeta-phinf.pstatic.net/album/003/236/3236752.jpg?type=r360Fll&v=20210303105523">
					</a>
					<a href="album/album8">COLORS IN BLACK</a>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<p>Thank you for visiting!</p>
			</div>
		</div>
	</body>
</html>