<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 6집</title>
</head>
<body>
	<div class="header">
		<h1>Newton's Apple</h1>
	</div>
	<div class="song">
		<a href="/album/album6_1">CD 1</a>
		<h2>CD 2</h2>
		<ol>
			<li>Coin Seller</li>
			<li>백야</li>
			<li>Holding onto Gravity</li>
			<li>Blue</li>
			<li>Boy-X</li>
			<li>Ocean of Light</li>
			<li>Perfect</li>
			<li>Burn</li>
			<li>Haven</li>
			<li>Walk out.</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/418/418403.jpg?type=r360Fll&v=20210303011518">
	</div>
	<div class="footer">
		<p>2014.2.27</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>