<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 4집</title>
</head>
<body>
	<div class="header">
		<h1>Separation Anxiety</h1>
	</div>
	<div class="song">
		<ol>
			<li>Separation Anxiety</li>
			<li>Moonlight Punch Romance</li>
			<li>기억을 걷는 시간 <em>(Title)</em></li>
			<li>멀어지다</li>
			<li>Promise Me</li>
			<li>1:03</li>
			<li>Fisheye Lens</li>
			<li>Afterglow</li>
			<li>Tokyo</li>
			<li>12 Seconds</li>
			<li>_</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/137/137579.jpg?type=r360Fll&v=20210311183220">
	</div>
	<div class="footer">
		<p>2008.3.21</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>