<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 6집</title>
</head>
<body>
	<div class="header">
		<h1>Newton's Apple</h1>
	</div>
	<div class="song">
		<a href="/album/album6_2">CD 2</a>
		<h2>CD 1</h2>
		<ol>
			<li>Decompose</li>
			<li>Fantasy</li>
			<li>타인의 기억</li>
			<li>침묵의 역사</li>
			<li>지구가 태양을 네 번 <em>(Title)</em></li>
			<li>Grey zone</li>
			<li>Newton's Apple</li>
			<li>환생의 밤</li>
			<li>소멸탈출</li>
			<li>Dear Genovese</li>
			<li>Sunshine</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/418/418403.jpg?type=r360Fll&v=20210303011518">
	</div>
	<div class="footer">
		<p>2014.2.27</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>