<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 3집</title>
</head>
<body>
	<div class="header">
		<h1>Healing Process</h1>
	</div>
	<div class="song">
		<a href="/album/album3_1">CD 1</a>
		<h2>CD 2</h2>
		<ol>
			<li>얼음산책</li>
			<li>Meaningless</li>
			<li>오후와의 대화</li>
			<li>A.S</li>
			<li>한계</li>
			<li>51분전</li>
			<li>Movie</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/041/41441.jpg?type=r360Fll&v=20201221205515">
	</div>
	<div class="footer">
		<p>2006.9.21</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>