<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 1집</title>
</head>
<body>
	<div class="header">
		<h1>Let It Rain</h1>
	</div>
	
	<div class="song">
		<ol>
			<li>유령의 노래</li>
			<li>고양이</li>
			<li>Stay <em>(Title)</em> </li>
			<li>어차피 그런 거</li>
			<li>시작의 끝</li>
			<li>믿어선 안될 말</li>
			<li>인어의 별</li>
			<li>낙엽의 비</li>
			<li>미련에게</li>
			<li>기생충</li>
			<li>Eden</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/003/3015.jpg?type=r360Fll&v=20201221101016">
	</div>
	<div class="footer">
		<p>2003.6.12</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>