<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 3집</title>
</head>
<body>
	<div class="header">
		<h1>Healing Process</h1>
	</div>
	<div class="song">
		<a href="/album/album3_2">CD 2</a>
		<h2>CD 1</h2>
		<ol>
			<li>현실의 현실</li>
			<li>섬</li>
			<li>Good Night <em>(Title)</em></li>
			<li>Counting Pulses</li>
			<li>그리움</li>
			<li>Beautiful Day</li>
			<li>치유</li>
			<li>마음을 잃다 <em>(Title)</em></li>
			<li>안녕히 계세요</li>
			<li>어떻게 생각해</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/041/41441.jpg?type=r360Fll&v=20201221205515">
	</div>
	<div class="footer">
		<p>2006.9.21</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>