<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 2집</title>
</head>
<body>
	<div class="header">
		<h1>Walk Through Me</h1>
	</div>
	<div class="song">
		<ol>
			<li>迷我 (미아)</li>
			<li>백색왜성</li>
			<li>Thank You <em>(Title)</em></li>
			<li>Selfish Love</li>
			<li>Unsaid</li>
			<li>피터팬은 죽었다</li>
			<li>부서진 입가에 머물다</li>
			<li>몽중인의 현실 체험기</li>
			<li>자해</li>
			<li>Marionette</li>
			<li>Last Advice</li>
			<li>One Time Bestseller</li>
			<li>Empty</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/029/29282.jpg?type=r360Fll&v=20210302090519">
	</div>
	<div class="footer">
		<p>2004.11.18</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>