<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 7집</title>
</head>
<body>
	<div class="header">
		<h1>C</h1>
	</div>
	<div class="song">
		<ol>
			<li>습관적 아이러니</li>
			<li>Day after day</li>
			<li>시간의 지평선</li>
			<li>Dream catcher <em>(Title)</em></li>
			<li>어떤 날 중에 그런 날</li>
			<li>Home</li>
			<li>이명</li>
			<li>Full moon</li>
			<li>Sing for me</li>
			<li>희망고문 (Title)</li>
			<li>Let the hope shine</li>
			<li>Too Late <mark>(Only for CD)</mark></li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/657/657560.jpg?type=r360Fll&v=20210303072515">
	</div>
	<div class="footer">
		<p>2016.8.19</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>