<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 5집</title>
</head>
<body>
	<div class="header">
		<h1>Slip Away</h1>
	</div>
	<div class="song">
		<ol>
			<li>The Ending</li>
			<li>Go</li>
			<li>In Days Gone By</li>
			<li>그리고, 남겨진 것들 <em>(Title)</em></li>
			<li>Standing In The Rain</li>
			<li>Loosing Control</li>
			<li>Beautiful Stranger</li>
			<li>Cliff Parade</li>
			<li>Hopeless Valentine</li>
			<li>Slip Away</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/317/317714.jpg?type=r360Fll&v=20210303175559">
	</div>
	<div class="footer">
		<p>2012.4.10</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>