<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>정규 8집</title>
</head>
<body>
	<div class="header">
		<h1>COLORS IN BLACK</h1>
	</div>
	<div class="song">
		<ol>
			<li>Cliché</li>
			<li>일기오보</li>
			<li>오분 뒤에 봐 <em>(Title)</em></li>
			<li>All This Fxxking Time</li>
			<li>무홍</li>
			<li>Slow Motion</li>
			<li>A to Z</li>
			<li>Love It When It Rains</li>
			<li>꿈을 꾸는 꿈</li>
	</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/003/236/3236752.jpg?type=r360Fll&v=20210303105523">
	</div>
	<div class="footer">
		<p>2019.10.10</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>