<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "album.css" %>
	<title>인디 2집</title>
</head>
<body>
	<div class="header">
		<h1>Speechless</h1>
	</div>
	
	<div class="song">
		<ol>
			<li>My Reason</li>
			<li>조금은 슬픈 이야기 <em>(Title)</em></li>
			<li>말들어</li>
			<li>모래시계</li>
			<li>벽</li>
			<li>바보천사</li>
			<li>차라리 그럴께</li>
			<li>낙엽의 비</li>
			<li>양의 노래</li>
			<li>Minus</li>
			<li>선택</li>
			<li>Pay Back</li>
			<li>벙어리</li>
		</ol>
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/002/2724.jpg?type=r360Fll&v=20201220233508">
	</div>
	<div class="footer">
		<p>2001.9.26</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>
</body>
</html>