<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "album.css" %>
	<title>인디 1집</title>
</head>
<body>
	<div class="header">
		<h1>Reflection Of</h1>
	</div>
	
	<div class="song">
		<ol>
			<li>Take Me With</li>
			<li>믿어선 안될 말 <em>(Title)</em></li>
			<li>어차피 그런 거</li>
			<li>쓰레기</li>
			<li>넌</li>
			<li>두번째</li>
			<li>길들임</li>
			<li>그런 기억</li>
			<li>Aden</li>
			<li>4</li>
		</ol>	
	</div>
	<div class="art">
		<img src="https://musicmeta-phinf.pstatic.net/album/000/002/2557.jpg?type=r360Fll&v=20201227005512">
	</div>
	<div class="footer">
		<p>2001.1.19</p>
		<p>해당 앨범은 온라인 음원 서비스를 제공하지 않습니다.</p>
		<a href="/">첫 화면으로 돌아가기</a>
	</div>

</body>
</html>